.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
README.html
case_study_cache/latex/__packages
case_study_cache/latex/nodf1_plots_570cb0e3c96f60dbc773fed4217acf43.RData
case_study_cache/latex/nodf1_plots_570cb0e3c96f60dbc773fed4217acf43.rdb
case_study_cache/latex/nodf1_plots_570cb0e3c96f60dbc773fed4217acf43.rdx
case_study_cache/latex/nodf2_plots_7b49906541fb82bb8cafca13600a16e9.RData
case_study_cache/latex/nodf2_plots_7b49906541fb82bb8cafca13600a16e9.rdb
case_study_cache/latex/nodf2_plots_7b49906541fb82bb8cafca13600a16e9.rdx
case_study_cache/latex/wnoda_plots_362c273b4bfcc225534a49f536e01c5b.RData
case_study_cache/latex/wnoda_plots_362c273b4bfcc225534a49f536e01c5b.rdb
case_study_cache/latex/wnoda_plots_362c273b4bfcc225534a49f536e01c5b.rdx
case_study_cache/latex/wnodf_plots_d3d18cbce432a2c8fc4dc8753a08a68b.RData
case_study_cache/latex/wnodf_plots_d3d18cbce432a2c8fc4dc8753a08a68b.rdb
case_study_cache/latex/wnodf_plots_d3d18cbce432a2c8fc4dc8753a08a68b.rdx
case_study_files/figure-latex/matrix-1.pdf
case_study_files/figure-latex/nodf1_plots-1.pdf
case_study_files/figure-latex/nodf2_plots-1.pdf
case_study_files/figure-latex/unnamed-chunk-4-1.pdf
case_study_files/figure-latex/wnoda_plots-1.pdf
case_study_files/figure-latex/wnoda_plots-2.pdf
case_study_files/figure-latex/wnodf_plots-1.pdf
case_study_files/figure-latex/wnodf_plots-2.pdf
case_study_cache/latex/nodf1_plots_dc406968be4dae5dbd2ed95e506f1cb6.RData
case_study_cache/latex/nodf1_plots_dc406968be4dae5dbd2ed95e506f1cb6.rdb
case_study_cache/latex/nodf1_plots_dc406968be4dae5dbd2ed95e506f1cb6.rdx
case_study_cache/latex/nodf2_plots_b11280d21413a7bfb49fd7fe4661e594.RData
case_study_cache/latex/nodf2_plots_b11280d21413a7bfb49fd7fe4661e594.rdb
case_study_cache/latex/nodf2_plots_b11280d21413a7bfb49fd7fe4661e594.rdx
case_study_cache/latex/wnoda_plots_75152cc270caacec3909a6226f6488df.RData
case_study_cache/latex/wnoda_plots_75152cc270caacec3909a6226f6488df.rdb
case_study_cache/latex/wnoda_plots_75152cc270caacec3909a6226f6488df.rdx
case_study_cache/latex/wnodf_plots_fa1c916683ba51a5a0de1f8ebf3eeb1d.RData
case_study_cache/latex/wnodf_plots_fa1c916683ba51a5a0de1f8ebf3eeb1d.rdb
case_study_cache/latex/wnodf_plots_fa1c916683ba51a5a0de1f8ebf3eeb1d.rdx
